@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.title_text{
    font-size: 2rem;
    line-height: 1.1;
    align: right;
    color: #4adede;
}

.form_descriptions{
    color: #39e75f;
    font-size: 1.2rem;
}

.link_text{
    color: #4adede;
}

.field_padding{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.inner_field_padding{
    margin-right: 0.5rem;
}

.description_text {
    padding: 1rem;
    font-size: 1em;
    align: left;
    line-height: 1.1;
    color: #FFFFF9;
    margin-right: 1rem;
}

.form_field {
    display: flex;
    flex-direction: column;
}

.form_field label {
    align-self: flex-start;
}

.form_field textarea {
    width: 33%;
    margin-bottom: 1.5rem;
    /*background-color: #4adede;*/
}

.form_field label {
    margin-bottom: 0.7rem;
}

button {
    border-radius: 8px;
    border: 1px solid;
    padding: 0.5rem 2rem;
    font-size: 1.2em;
    font-weight: 500;
    color: #FFFFFF;
    margin-right: 1rem;
    font-family: inherit;
    cursor: pointer;
    transition: border-color 0.25s;
  }
  button:hover {
    color: #9a9a9a;
    border-color: #FFFFFF;
    background-color: #FFFFFF;
  }
  button:focus,
  button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }